name: Leiningen test

on:
  workflow_call:
    inputs:
      strict_check:
        required: false
        type: boolean
        default: true
        description: 'Check for reflection warnings.'
      lein_compile_profile:
        required: false
        type: string
        default: ''
        description: 'Optional Leiningen profile to use (e.g., "dev", "prod", "test").'
      os:
        required: false
        type: string
        default: 'ubuntu-latest'
        description: 'Operating system to run on (e.g., "ubuntu-latest", "windows-latest", "macos-latest").'


jobs:
  test-jvm:
    runs-on: ${{ inputs.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Prepare java
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 21

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          lein: latest

      - name: Echo Profile
        run: echo "${{ inputs.lein_profile }}"

      - name: Check reflection
        if: ${{ inputs.strict_check == true }}
        run: lein strict-check

      - name: Skipping relection check
        if: ${{ inputs.strict_check == false }}
        run: echo "Skipping strict-check"

      - name: compile project
        run: |
          if [ -z "${{ inputs.lein_compile_profile }}" ]; then
            lein compile
          else
            lein with-profile ${{ inputs.lein_compile_profile }} compile
          fi

      - name: test project
        run: lein test